
footer{
    margin-top: 2rem;
    height: var(--height-footer);
    width: 100vw;
    gap: 1rem;
}
.footer-wrapper{

    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.footer-icon {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

.footer-block {

    height: auto;
    padding: .5rem;
    display: flex;
}



.footer-block > a > img {
    height: 4rem;
    width: 4rem;
}

.footer-block > p {

    width: auto;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
