.comment-conteiner {
    position: relative;
    min-height: 30rem;
    height: auto;
    background: var(--second-main-color-20);
    border-radius: .5rem;
}

.comment-wrapper {
    position: absolute;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.comment-button-wrapper {
    position: absolute;
    display: flex;
    gap: .5rem;
    bottom: .6rem;
    left: 50%;
    margin-left: -6.2rem;
    z-index: 8000;

}

.comment-button-wrapper > button {
    width: 1.5rem;
    height: .8rem;
    border-radius: .75rem;
    border: none;
    text-align: center;
    /*box-shadow: 0 0 .4rem rgba(35, 35, 35, 0.5);*/
    background-color: white;
    -webkit-transition: .3s ease-in-out;
    cursor: pointer;
}

.comment-button-wrapper > button:hover {
    box-shadow: 0 0 .4rem rgba(2, 2, 2, 0.5);
}



.comment-wrapper > img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-top: .5rem;
}

.comment-text {
    margin-top: .5rem;
}

.comment-text > p {
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
}


.close {
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.open {
    transition: opacity .5s ease-in-out;
    opacity: 1;
}


.displayNone {
    display: none;
}